{% extends "node.html.twig" %}

{% block title %}
  {{ content.mt_node_header }}
{% endblock %}

{% block meta %}
{% endblock %}

{% block content %}
  <article{{ attributes.addClass('word-container') }}>
    <div class="word{% if (node.field_images is empty) and (node.field_table is empty) %} full-width{% endif %}">
      <h1>{{ node.label }}</h1>
      <div class="node__author">
        {{ content.field_autor }}
      </div>

      <div class="con-wrap">
        <div class="node__sidebar desktop">
          <div class="structure hidden"></div>

          {% if (node.field_images is not empty) or (node.field_table is not empty) %}
            <div class="word-illustration">
              {% set images_count = content.field_images['#items']|length %}
              {% for i in 0..images_count %}
                {% if i == node.field_table_weight.value %}
                  {{ content.field_table }}
                {% endif %}

                {{ content.field_images[i] }}
              {% endfor %}

              {% if node.field_table_weight.value > images_count %}
                {{ content.field_table }}
              {% endif %}
            </div>
          {% endif %}
        </div>

        <div class="node__content desktop">
          {{ content.body }}
        </div>
      </div>

      <div class="meta-wrapper">
        <p class="last-update">
          {% set info_published %}
            {{ node.field_info_published.value }}
          {% endset %}
          {{ info_published |striptags }}
        </p>

        <div class="similar-words">
          {% if content.similar_words is not empty %}
            <h3>{{ 'related-articles'|t }}</h3>
            {{ content.similar_words }}
          {% endif %}
        </div>

        <div class="citation desktop">
          <h3 role="button" tabindex="0" aria-label="{{ 'aria-label-you-are-in-the-section-citation'|t }}" aria-controls="dialog-desc"
              aria-expanded="false">{{ 'citation'|t }}</h3>
          {% set author_fomratted = '' %}
          {% if node.field_autor.target_id %}
            {% set author_fomratted = node.field_autor.entity.field_priezvisko.value|trim ~ ', ' ~ node.field_autor.entity.field_meno.value|trim|slice(0,1) ~ '. ' %}
          {% endif %}
          <p id="dialog-desc">{{ author_fomratted ~ node.label|slice(0,1)|upper ~ node.label|slice(1) }} [online].
            {{ 'encyclopaedia-beliana'|t }},
            ISBN 978-80-89524-30-3. [cit. {{ now | date('Y-m-d') }}]. {{ 'available-online'|t }} <a
              href="{{ share_url }}">{{ share_url }}</a></p>
        </div>

        <div class="word-tools">
          {% include directory ~ '/templates/content/world/parts/share.html.twig' %}
        </div>
      </div>
    </div>

  </article>
  {{ attach_library('bel/wcag-tools.node.word') }}
{% endblock %}
