<div class="bel-modal" id="info-popup">
  <div class="bel-modal__container">
    <div class="bel-modal__close"><span class="icon-close modal-close-button"></span></div>
    <h2 class="bel-modal__title">{{ 'Information'|t }}</h2>
    <p class="bel-modal__text">{{ 'You are on a test website of the Encyclopaedic Institute of the Slovak Academy of Sciences. Its content is not intended for the public.'|t }}</p>
    <p class="bel-modal__text">{{ 'Please visit the page'|t }} <a href="{{ prod_url.url }}">{{ prod_url.text }}</a></p>
  </div>
</div>
