<div class="list-tools">
  <div class="item">
    <p>{{ 'label-im-showing'|t }}</p>
    <div class="truncate-button">
      <button tabindex="0" type="button" aria-label="{{ 'display-options'|t }}" id="label-truncate" class="label"
              aria-haspopup="true" aria-controls="truncate-controls">{{ 'label-beginning-password'|t }}<b
          class="button"></b>
      </button>
      <ul id="truncate-controls" role="menu" class="dropdown" aria-labelledby="label">
        <li role="none">
          <a href="#" aria-label="{{ 'label-show-the-beginning-of-the-password-in-the-list'|t }}" class="word-short"
             role="menuitem">{{ 'label-beginning-password'|t }}</a>
        </li>
        <li role="none">
          <a href="#" aria-label="{{ 'label-show-the-entire-password-in-the-list'|t }}" class="word-full" role="menuitem">{{ 'label-full-password'|t }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
