<div id="search-help-dialog" class="description" role="dialog">
  <div class="arrow" aria-hidden="true"></div>
  <ul class="help" tabindex="0">
    <li class="item">
                  <span aria-hidden="false"
                        aria-label="Zadaním výrazu teplo: sa vyhľadajú všetky gramatické tvary slova teplo">
                    <strong>teplo:</strong> všetky gramatické tvary slova teplo
                  </span>
    </li>
    <li class="item">
                  <span aria-hidden="false"
                        aria-label="Zadaním výrazu teplo*: sa vyhľadajú všetky slová začínajúce sa na teplo">
                    <strong>teplo*:</strong> všetky slová začínajúce sa na teplo
                  </span>
    </li>
    <li class="item">
                  <span aria-hidden="false"
                        aria-label="Zadaním výrazu slovinsko~ sa vyhľadajú podobné slová (Slovensko, Slovinsko, ...)">
                    <strong>slovinsko~:</strong> podobné slová (Slovensko, Slovinsko, ...)
                  </span>
    </li>
    <li class="item">
                  <span aria-hidden="false" aria-label="Zadaním výrazu 'zdroj teplo': sa vyhľadá fráza (všetky tvary)">
                    <strong>"zdroj teplo":</strong> fráza (všetky tvary)
                  </span>
    </li>
    <li class="item">
                  <span aria-hidden="false" aria-label="Zadaním výrazu dom teplo: sa vyhľadajú slová dom alebo teplo">
                    <strong>dom teplo:</strong> slová dom alebo teplo
                  </span>
    </li>
    <li class="item">
                  <span aria-hidden="false"
                        aria-label="Zadaním výrazu dom -teplo: sa vyhľadajú slová dom, ale nie teplo">
                    <strong>dom -teplo:</strong> slová dom, ale nie teplo
                  </span>
    </li>
    <li class="item">
                  <span aria-hidden="false"
                        aria-label="Zadaním výrazu dom and teplo: sa vyhľadajú súčasne slová dom aj teplo">
                    <strong>dom and teplo:</strong> súčasne slová dom aj teplo
                  </span>
    </li>
  </ul>
  <a href="/pouzivanie-stranky" class="more-info" title="{{ 'more-about-search'|t }}"
     aria-label="{{ 'more-about-search'|t }}">{{ 'more-about-search'|t }}</a>
  <a href="/rozsirene-vyhladavanie" class="more-info" title="{{ 'search-by-category'|t }}"
     aria-label="{{ 'search-by-category'|t }}">{{ 'search-by-category'|t }}</a>
</div>
