<div id="search-help-dialog" class="description" role="dialog">
	<div class="arrow" aria-hidden="true"></div>
	<ul class="help" tabindex="0">
		<li class="item">
			<span aria-hidden="false"
						aria-label="{{ 'aria-label-by-entering-the-term-slovak-all-grammatical-forms-of-the-word-slovak-will-be-searched'|t }}">
				{{ 'slovak-all-grammatical-forms-of-the-word-slovak'|t }}
			</span>
		</li>
		<li class="item">
			<span aria-hidden="false"
						aria-label="{{ 'aria-label-entering-words-slov-will-search-for-all-words-begining-with-words-slov|t' }}">
				{{ 'slov-all-words-begining-with-slov'|t }}
			</span>
		</li>
		<li class="item">
			<span aria-hidden="false"
						aria-label="{{ 'aria-label-entering-the-term-slovak-will-search-for-similar-words-slovakia-slovenia'|t }}">
				{{ 'slovak--similar-words-slovakia-slovenia'|t }}
			</span>
		</li>
		<li class="item">
			<span aria-hidden="false"
						aria-label="{{ 'aria-label-by-entering-the-expression-slovak-painter-the-phrase-all-forms-will-be-searched'|t }}">
				{{ 'slovak-painter-idioms-all-forms'|t }}
			</span>
		</li>
		<li class="item">
			<span aria-hidden="false"
						aria-label="{{ 'aria-label-by-entering-the-expression-slovak-painter-the-words-slovak-or-painter-will-be-searched'|t }}">
				{{ 'slovak-painter-words-slovak-or-painter'|t }}
			</span>
		</li>
		<li class="item">
			<span aria-hidden="false"
						aria-label="{{ 'aria-label-by-entering-the-expression-slovak--painter-the-words-slovak-but-no-painter-will-be-searched'|t }}">
				{{ 'slovak-painter-words-slovak-but-no-painter'|t }}
			</span>
		</li>
		<li class="item">
			<span aria-hidden="false"
						aria-label="{{ 'aria-label-by-entering-the-expression-slovak-and-painter:-the-words-slovak-and-painter-are-searched-at-the-same-time'|t }}">
				{{ 'slovak-and-painter-together-words-slovak-and-painter'|t }}
			</span>
		</li>
	</ul>

	{% if language.id == 'sk' %}
		<a href="{{ path('entity.node.canonical', {'node': 747}) }}" class="more-info" title="{{ 'more-about-search'|t }}"
			 aria-label="{{ 'more-about-search'|t }}">{{ 'more-about-search'|t }}</a>
	{% endif %}
	<a href="{{ path('view.solr_search_word.page_search_by_category') }}" class="more-info"
		 title="{{ 'search-by-category'|t }}"
		 aria-label="{{ 'search-by-category'|t }}">{{ 'search-by-category'|t }}</a>
</div>
