{% extends "media.html.twig" %}

{% block content %}
  {% if content %}
    <div class="left metadata">
      <h1 class="title">Ilustrácia k heslu <span>{{ node.title.value }}</span></h1>

      {{ content.field_description }}

      <div class="more-info open">
        <h3 aria-label="{{ 'aria-label-you-are-in-the-section-more-info'|t }}" aria-controls="dialog-desc"
            aria-expanded="true">
          <span>Ďalšie informácie o ilustrácii</span>
        </h3>
        <div class="detail">{{ content|without('field_image')|without('field_obrazok_odkaz')|without('field_description') }}</div>
      </div>

      {% if back_url %}
        <a href="{{ back_url }}" class="back"><i class="icon-back"></i>Naspäť na stránku hesla</a>
      {% endif %}
    </div>

    <div class="right media">
      {{ content.field_image }}
      {{ content.field_obrazok_odkaz }}
    </div>
    {{ attach_library('bel/wcag-tools.media.image') }}
  {% endif %}
{% endblock %}
