{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div class="layout-container">

  <header id="header">
    <div class="container">
      <div class="block-branding">
        {% if logo %}
          <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
            <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
          </a>
        {% endif %}
      </div>
    </div>
  </header>

  <div id="main">
    <div class="container">
      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}

      {{ page.highlighted }}

      {{ page.content }}
    </div>
  </div>


</div>{# /.layout-container #}
